<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Dashboard/Index">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">DASHBOARD</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Message/ReceiverMessage">
                <i class="ti-notepad menu-icon"></i>
                <span class="menu-title">GELEN MESAJLAR</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Message/SenderMessage">
                <i class="ti-agenda menu-icon"></i>
                <span class="menu-title">GÖNDERİLENLER</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Message/SendMessage">
                <i class="ti-cloud menu-icon"></i>
                <span class="menu-title">YENİ MESAJ</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Default/Index">
                <i class="ti-announcement menu-icon"></i>
                <span class="menu-title">DUYURULAR</span>
            </a>

        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Profile/Index">
                <i class="ti-microphone menu-icon"></i>
                <span class="menu-title">PROFİL</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Profile/Index">
                <i class="ti-settings menu-icon"></i>
                <span class="menu-title"> AYARLAR</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Login/LogOut">
                <i class="ti-power-off menu-icon"></i>
                <span class="menu-title">ÇIKIŞ YAP</span>
            </a>
        </li>
    </ul>
</nav>